# Tuples
* Collection of items under one variable name.
* Allows duplicate 
* Supports multiple data type
* Ordered and indexed
* Immutable
* Written in () brackets seperated by comma.

In [2]:
cars = ("Mercedes", "Ferrari", "Tesla", "Tata", "Honda", "Lambo")

In [3]:
type(cars)

tuple

In [4]:
cars[0]

'Mercedes'

In [5]:
cars[1]

'Ferrari'

In [6]:
cars[2]

'Tesla'

In [7]:
cars[-2]

'Honda'

In [9]:
cars[1:3]

('Ferrari', 'Tesla')

# Python Tuples are immutable

In [10]:
cars

('Mercedes', 'Ferrari', 'Tesla', 'Tata', 'Honda', 'Lambo')

In [12]:
cars[2] = "Bently"

TypeError: 'tuple' object does not support item assignment

# We cannot change, add or remove items after the tuple has been created but type conversion to list can make it happen

In [28]:
car = ("Mercedes", "Ferrari", "Tesla", "Tata", "Honda", "Lambo")

In [29]:
car= list(cars)
car

['Mercedes', 'Ferrari', 'Tesla', 'Tata', 'Honda', 'Lambo']

In [30]:
type(car)

list

In [31]:
car.append('Rolls Royace')

In [32]:
car = tuple(car)

In [33]:
car

('Mercedes', 'Ferrari', 'Tesla', 'Tata', 'Honda', 'Lambo', 'Rolls Royace')

In [34]:
type(car)

tuple

# Calsulate the mean

In [35]:
nums = (3,2,1,7,6,9,0)

In [36]:
nums = list(nums)

In [41]:
total = 0
index = 0
for num in nums:
    total = total + num
    index = index + 1

mean = total / index
mean

4.0

In [42]:
t1 = ("Ram", True, 5, 6.3, [99,8])

In [43]:
t1[4]

[99, 8]

In [44]:
t1[4][0]

99