# Variable Naming Convention

# Python keywords cannot be variable name
* Keywords are the reserved words in python.
* We cannot use a keyword as a variable name, function name or any other identifier.
* They are used to define the syntax and structure of the python language.
* In Python, Keywords are case sensitive.

In [4]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# Python Keywords are case sensitive
* Uppercase ra lowercase farak manxa programming language le vane tyo case sensitive language ho

In [7]:
False = 0 #False is a keyword

SyntaxError: cannot assign to False (1672357174.py, line 1)

In [8]:
false =0 #false is not a keyword

## Python is a case sensitive language while SQL is a case insensative language
* Upper case ra lower case ma lekheko object farak object ho!

In [11]:
A = 'apple'
a = 'not apple'
print(f"The value of A is {A} and the value of a is {a} ")

The value of A is apple and the value of a is not apple

In [1]:
A = 'Apple'
a = 'not apple'
print("The value of A is {}".format(A))
print("The value of a is {} ".format(a))

The value of A is Apple
The value of a is not apple

# We cannot use special symbols like `! , @ , # , $ , % ,` etc in our identifier or variable name

In [22]:
@abc = "yourName"
abc = "YourName"
$Name = "Sandesh"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (655004638.py, line 1)

# You cannot use space in variable name.

In [23]:
first Name = "Ram"

SyntaxError: invalid syntax (1460003524.py, line 1)

In [24]:
firstName = "Ram"

# You cannot use - in variable name.

In [25]:
first-name = "Name"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1055544391.py, line 1)

# Numbers cannot be first letters in variable name but numbers can be written after letters or in between.

In [1]:
1name = "Yourname" #Number/Digit cannot occur at first!

SyntaxError: invalid decimal literal (2291063723.py, line 1)

In [28]:
name1 = "YourName"

# Use underscore`( _ )` to join two words in variable name

In [3]:
first_name = "Sam" #Snake_Case
MyObject = 88      #PascalCase
myObject = 99      #camelCase

# Variable naming styles/Conventions

[Python Style Guide: How to write Beautiful code in Python](https://realpython.com/python-pep8/)

In [32]:
o = 88 # It is not a good style to write variable in python --PEP-8(style-guide)

# Python is dynamic typed language
* as it checks the type of data during runtime/execution.
# Js is static typed language
* as it checks the types of data before runtime/execution.

In [35]:
"1" + 2 # dynamic typed -- data type checked on fly in runtime

TypeError: can only concatenate str (not "int") to str

In [36]:
"1" + "2"

'12'

# Python is a case sensitive, interpreted, high level, dynamic typed programming language

# Updating variable values

In [37]:
a = 5
print(f"Before a = {a}")
a = 66
print(f"After a = {a}")

Before a = 5
After a = 66

In [38]:
a = 60.5
print(f"Before a = {a}")
a = a + 0.5
print(f"After a = {a}")

Before a = 60.5
After a = 61.0

In [63]:
num1 = 2.5
num2 = 0.36

print(f"Before swapping, num1 = {num1} and num2 = {num2}")

# Swapping

temp = num1
num1 = num2
num2 = temp

# After swapping

print(f"After swapping, num1 = {num1} and num2 = {num2}")

Before swapping, num1 = 2.5 and num2 = 0.36
After swapping, num1 = 0.36 and num2 = 2.5

# Assigning multiple values to multiple variables

In [49]:
a = 2
b = 0.2
c = 0.6 + 0.3j

In [50]:
a

2

In [51]:
b

0.2

In [52]:
c

(0.6+0.3j)

In [56]:
a,b,c = 2,0.2,0.6+0.3j

In [58]:
a,b,c

(2, 0.2, (0.6+0.3j))

In [59]:
a,b,c = 2,0.3

ValueError: not enough values to unpack (expected 3, got 2)

In [60]:
a,b = 2 , 0.2 , 0.4

ValueError: too many values to unpack (expected 2)

## Data type checking in Python

In [6]:
a , b , c = 2 , 0.3 , 0.5 + 0.1j

In [7]:
type(a)

int

In [8]:
type(b)

float

In [9]:
type(c)

complex

## True and false are booleans in Python

# Assignments

In [2]:
input_minutes,input_seconds = 42,42
output_seconds = input_minutes * 60 + input_seconds
output_seconds

2562

In [3]:
input_kilometers = 10
output_in_miles = input_kilometers / 1.609
output_in_miles

6.215040397762586

In [3]:
distance_travelled,in_minutes,in_seconds = 10/1.609, 42, 42
miles_in_minutes = distance_travelled / (in_minutes + (in_seconds/60))
miles_in_seconds = distance_travelled / ((in_minutes * 60) + in_seconds)
print("Average Speed")
print(f"Miles per minute={miles_in_minutes}")
print(f"Miles per second={miles_in_seconds}")

Average Speed
Miles per minute=0.1455512973714891
Miles per second=0.0024258549561914852

# Swapping values of the variable

In [10]:
num1 = 2.5
num2 = 0.36

print(f"Before swapping, num1 = {num1} and num2 = {num2}")

# Swapping

temp = num1
num1 = num2
num2 = temp

# After swapping

print(f"After swapping, num1 = {num1} and num2 = {num2}")

Before swapping, num1 = 2.5 and num2 = 0.36
After swapping, num1 = 0.36 and num2 = 2.5

# Volume of sphere
$\text{Volume (V)} = \frac{4}{3} \pi r^3$

In [16]:
radius = 5
volume = 4 / 3 * (22/7 * radius ** 3)
volume

523.8095238095237

In [7]:
radius = float(input("Enter the radius : "))
volume = 4 / 3 * (22/7 * radius ** 3)
print(f"Volume of sphere is {round(volume,2)}")

Enter the radius : 5
Volume of sphere is 523.81

In [12]:
import math
PI = math.pi
radius = float(input("Enter the radius : "))
volume = 4 / 3 * (PI * radius ** 3)
print(f"Volume of sphere is {round(volume,2)}cm\u00b3")

Enter the radius : 5
Volume of sphere is 523.6cmÂ³