# Dictionary
* Mapping data type
* Dictionaries are used to store data values in key: Value pairs
* A dictionaty is a collection which is ordered, changeable and do not allow duplicate keys.

# Syntax
```python
    {
        key:value
    }
```

In [ ]:
# Creating empty dictionaries

In [ ]:
about = {}

In [ ]:
type(about)

In [ ]:
about = dict()
type(about)

# Creating our own dictionary

In [ ]:
# Value can be of any data type
about = {
    "name" : "Sandesh",
    "teaches" : ['Python','Data Science', 'AI'],
    "age" : 26
}

In [ ]:
print(about)

In [ ]:
# Keys can be integer, float number and string

In [ ]:
{
    1: "one",
    2.1: "two"
}

# Acessing keys value in dictionary

In [ ]:
person = {
    "name" : "Sandesh",
    "teaches" : ['Python','Data Science', 'AI'],
    "age" : 26
}

In [ ]:
# I want to know name of a person

In [ ]:
# First way:
person['name']

In [ ]:
person['age']

In [ ]:
# Second way:

In [ ]:
person.get('age')

In [ ]:
person.get('teaches')

# Adding key value pair in dictionary

In [ ]:
person = {
    "name" : "Sandesh",
    "teaches" : ['Python','Data Science', 'AI'],
    "age" : 26
}

In [ ]:
person['address'] = "Gwarko"

In [ ]:
person

In [ ]:
person.update({'works_at' : 'Broadway'})

In [ ]:
person

In [ ]:
person['name'] = "Kshitiz Regmi"

In [ ]:
person

In [ ]:
person.update({'name' : 'K$hitiz Regmi'})

In [ ]:
person

In [ ]:
# Update le key exists gardaina vane naya key value pair dictionary ma thapxa
# Yedi key exists garxa vane tyo key ko value update garxa

In [ ]:
mayor = {}
name = input("Enter the name of mayor: ")
age = int(input("Enter the age of mayor: "))
cit
y = input("Enter the city of mayor: ")

mayor.update({'name': name, 'age': age, 'city': city})
print(mayor)

In [ ]:
about = list()
for index in range(2):
    name = input("Enter the name of mayor: ")
    age = int(input("Enter the age of mayor: "))
    city = input("Enter the city of mayor: ")
    data = {
        'name' : name,
        'age' : age,
        'city' : city
    }
    about.append(data)

print(about)

In [4]:
name = ['Balen','Harka']
city = ['ktm','Dharan']

In [5]:
m = dict(zip(name,city))

In [6]:
m.get('Balen')

'ktm'

In [7]:
m.items()

dict_items([('Balen', 'ktm'), ('Harka', 'Dharan')])

In [8]:
m.values()

dict_values(['ktm', 'Dharan'])

In [9]:
for item in m.items():
    print(item)

('Balen', 'ktm')
('Harka', 'Dharan')

In [10]:
key , val = ('Balen', 'KTM')   #Tuple Unpacking

In [11]:
key

'Balen'

In [12]:
val

'KTM'

In [13]:
for key, val in m.items():
    print(f"{key} is a mayor of {val}")

Balen is a mayor of ktm
Harka is a mayor of Dharan

In [15]:
math = {'pi' : 3.14}

In [16]:
for key, val in math.items():
    print(key, val + 5)

pi 8.14

# Dictionary comprehension

In [18]:
# Swap key and key in value
data = {1: "one", 2: "Two"}

In [19]:
{val:key for key, val in data.items()}

{'one': 1, 'Two': 2}

In [20]:
person = {
    "name" : "Sandesh",
    "teaches" : ['Python','Data Science', 'AI'],
    "age" : 26
}
person.pop("age")

26

In [22]:
person.pop()   #Key must be given to use pop() in dictionary

TypeError: pop expected at least 1 argument, got 0

# Nesated dictionary

In [23]:
child = {
    'child1' : {'name' : 'Sumit','age' : 10},
    'child2' : {'name' : 'Champa', 'age' : 3, 'gender' : "Female"},
}

In [30]:
child['child2']['name']

'Champa'

In [44]:
child['child1']['gender']   # Yaha child1 ko gender exists gardaia tei vayera error aauxa, esko solution .get() ho.

KeyError: 'gender'

In [45]:
gender = child['child1'].get('gender', None)   # None default hunxa, You can change it

In [46]:
print(gender)

None

In [47]:
child['child1'].get('gender',"Others")

'Others'

In [48]:
child['child1'].get('gender',"Not available")

'Not available'

In [50]:
child = {
    'child1' : {'name' : ['Sumit','Sandesh'],'age' : 10},
    'child2' : {'name' : 'Champa', 'age' : 3, 'gender' : "Female"},
}
child['child1']['name'][1]

'Sandesh'