# SQL: Structured Query Language

SQL is used in following:
* Modifying database table and index structures
* Adding, Updating and deleting rows of data, and 
* Retrieving subsets of information from within relational database management systems
* Case insensative

In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('student.db')

In [3]:
con # Connection object

In [4]:
# We need cursor to execute sql query

In [5]:
cur = con.cursor()

# Creating Table in sql
```sql
create table table_name (column_name_1 datatype, column_name_2 datatype,  ...  ,column_name_n datatype)
```

In [8]:
query = """
create table student
(roll_no int not null, name varchar(50), address varchar(100))
"""

In [10]:
try:
    cur.execute(query)
except Exception as e:
    print(e)

table student already exists

# Insert data into table
```sql
INSERT INTO table_name (column_name_1, column_name_2, ... ,column_name_n)
VALUES
(value_1, value_2, ... ,value_n)
```

In [19]:
query = """
INSERT INTO STUDENT (ROLL_NO, NAME, ADDRESS)
VALUES
(1, 'Kshitiz', 'Lalitbur'),
(2, 'Sandesh', 'Kathmandu'),
(3, 'Sumit', 'Lalitpur'),
(4, 'Zecen', 'Kathmandu');
"""

In [20]:
cur.execute(query)

# Select statement in sql / Reading data

```sql
select * from table_name
```

* means all column

In [21]:
query = """
select * from student
"""

In [22]:
cur.execute(query).fetchall()

[(1, 'Kshitiz', 'Lalitbur'),
 (2, 'Sandesh', 'Kathmandu'),
 (3, 'Sumit', 'Lalitpur'),
 (3, 'Zecen', 'Kathmandu'),
 (1, 'Kshitiz', 'Lalitbur'),
 (2, 'Sandesh', 'Kathmandu'),
 (3, 'Sumit', 'Lalitpur'),
 (4, 'Zecen', 'Kathmandu')]

In [23]:
cur.execute("select name from student").fetchall()

[('Kshitiz',),
 ('Sandesh',),
 ('Sumit',),
 ('Zecen',),
 ('Kshitiz',),
 ('Sandesh',),
 ('Sumit',),
 ('Zecen',)]

In [24]:
cur.execute("select roll_no from student").fetchall()

[(1,), (2,), (3,), (3,), (1,), (2,), (3,), (4,)]

In [27]:
cur.execute("select name, address from student").fetchall()

[('Kshitiz', 'Lalitbur'),
 ('Sandesh', 'Kathmandu'),
 ('Sumit', 'Lalitpur'),
 ('Zecen', 'Kathmandu'),
 ('Kshitiz', 'Lalitbur'),
 ('Sandesh', 'Kathmandu'),
 ('Sumit', 'Lalitpur'),
 ('Zecen', 'Kathmandu')]

In [34]:
# Select student with address Kathmandu and display name
cur.execute("select name from student where address = 'Kathmandu'").fetchall()

[('Sandesh',), ('Zecen',), ('Sandesh',), ('Zecen',)]

In [36]:
# Select student with roll no 3 and display their name
cur.execute("select name from student where roll_no = 3").fetchall()

[('Sumit',), ('Zecen',), ('Sumit',)]

In [39]:
# Find the roll no of kshiiz
cur.execute("select roll_no from student where name = 'Kshitiz'").fetchall()

[(1,), (1,)]

# Updating statement in sql

```sql
update table_name
set column_name = value
where
condition
```

In [42]:
cur.execute("""
update student
set name = "Kshitiz Regmi"
where
roll_no = 1
""")

In [43]:
cur.execute("select * from student").fetchall()

[(1, 'Kshitiz Regmi', 'Lalitbur'),
 (2, 'Sandesh', 'Kathmandu'),
 (3, 'Sumit', 'Lalitpur'),
 (3, 'Zecen', 'Kathmandu'),
 (1, 'Kshitiz Regmi', 'Lalitbur'),
 (2, 'Sandesh', 'Kathmandu'),
 (3, 'Sumit', 'Lalitpur'),
 (4, 'Zecen', 'Kathmandu')]

# Delete statement ( Table Row )

```sql
delete table_name
where
condition
```

In [45]:
cur.execute("delete from student where roll_no = 3")

In [48]:
cur.execute("select * from student").fetchall()

[(1, 'Kshitiz Regmi', 'Lalitbur'),
 (2, 'Sandesh', 'Kathmandu'),
 (1, 'Kshitiz Regmi', 'Lalitbur'),
 (2, 'Sandesh', 'Kathmandu'),
 (4, 'Zecen', 'Kathmandu')]